@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Montserrat";
    src:
        local('Montserrat SemiBold'),
        url('/public/fonts/Montserrat-SemiBold.ttf') format('ttf');
    unicode-range: U+0400–04FF;
}

@font-face {
    font-family: "Montserrat Bold";
    src:
        local('Montserrat Bold'),
        url('/public/fonts/Montserrat-Bold.ttf') format('ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}


.img-logo {
    margin: 25px;
    width: 246px;
    height: 159px;
}

.title {
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
    font-size: 64px;
    color: #1B4E9B;
    text-align: center;
    display: inline-block;
    width: 566px;
    height: 234px;
    text-align: center;
    margin: 25px;
}

.div-center {
    justify-items: center;
    align-items: center;
    text-align: center;
}

.login {
    width: 521px;
    height: 73.5px;
    border: none;
    border-bottom: 2px solid #1B4E9B;
    background-color: transparent;
    color: #1B4E9B;
    margin: 0;
    font-size: 28px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
}

.password {
    width: 521px;
    height: 73.5px;
    border: none;
    border-bottom: 2px solid #1B4E9B;
    background-color: transparent;
    color: #1B4E9B;
    margin: 0;
    font-size: 28px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
}

.login::placeholder {
    color: #D9D9D9;
}

.password::placeholder {
    color: #D9D9D9;
}

.button-submit {
    color: #FFFFFF;
    background-color: #1B4E9B;
    width: 206px;
    height: 68px;
    border-color: transparent;
    border-radius: 2rem;
    font-size: 32px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
    margin-top: 46px;
}

.img_logo {
    height: 159.26px;
    width: 246.31px;
}

.ellipse1 {
    width: 124.38px;
    height: 120.86px;
    margin-left: 75px;
    margin-top: 250px;
}

.ellipse2 {
    width: 293.83px;
    height: 278.91px;
    margin-left: 50px;
    margin-top: 45px;
    /* margin-bottom: 70px; */
}

.ellipse3 {
    width: 82.92px;
    height: 80.57px;
    margin-left: 170px;
    /* margin-bottom: 25px; */
    margin-top: 250px;
}

.ellipse4 {
    width: 82.11px;
    height: 79.79px;
    margin-left: 115px;
    /* margin-bottom: 260px; */
    margin-top: 100px;
}

.ellipse5 {
    width: 124.38px;
    height: 120.86px;
    /* margin-bottom: 25px; */
    margin-top: 250px;
}

.ellipse6 {
    width: 124.38px;
    height: 120.86px;
    margin-left: 50px;
    /* margin-bottom: 105px; */
    margin-top: 200px;
}

.ellipse7 {
    width: 385px;
    height: 374px;
}

.ellipse8 {
    width: 82.11px;
    height: 79.79px;
    margin-left: 35px;
    margin-top: 150px;
}

.ellipse9 {
    width: 239px;
    height: 236px;
    margin-left: 115px;
    margin-bottom: 60px;
}

.ellipse10 {
    width: 82.11px;
    height: 79.79px;
    margin-left: 40px;
    /* margin-right: -1px; */
    margin-top: 290px;
}

.div-conteiner {
    display: grid;
}

.div-part1 {
    align-items: center;
    text-align: center;
    background-color: transparent;
    z-index: 2;
    position: relative;
}

.div-part2 {
    display: flex;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    bottom:0;
    left: 0;
}