@font-face {
    font-family: "Montserrat SemiBold";
    src:
        local('Montserrat SemiBold'),
        url('/public/fonts/Montserrat-SemiBold.ttf') format('ttf');
}


.div_container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: end;
}

.search_by_type {
    width: 362px;
    height: 40px;
    background-color: #FFFFFF;
    border-color: #1B4E9B;
    border-width: thin;
    border-radius: 2rem;
    color: #1B4E9B;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 12px;
    font-weight: 600px;
    padding-left: 17.14px;
    padding-right: 17.14px;
    margin-left: 58px;
}

.search_by_type::placeholder {
    color: #D9D9D9;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 12px;
    font-weight: 600px;
}

.button {
    width: 348px;
    height: 50px;
    background-color: #1B4E9B;
    border-color: #1B4E9B;
    border-width: thin;
    border-radius: 2rem;
    color: #FFFFFF;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: center;
    margin-right: 58px;
}


.div_title {
    margin-top: 40px;
}

.page_title {
    color: #1B4E9B;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 32px;
    font-weight: 600px;
    margin-left: 58px;
    margin-right: 205px;
}

.div_table {
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 20px;
    margin-bottom: 32px;
}


