
@font-face {
    font-family: "Montserrat SemiBold";
    src:
    local('Montserrat SemiBold'), 
    url('/public/fonts/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: "Montserrat Bold";
    src:
    local('Montserrat Bold'), 
    url('/public/fonts/Montserrat-Bold.ttf') format('ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.header-style{
    background-color: #1B4E9B; 
    height: 71px;
}

.footer-style{
    background-color: #1B4E9B; 
    height: 115px; 
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.img-logo{
    margin: 25px;
}

.title {
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
    font-size: 64px;
    color: #1B4E9B;
    text-align: center;
    display: inline-block;
    width: 566px;
    height: 234px;
    text-align: center;
    margin: 25px;
}

.div-center{
    align-items: center;
    text-align: center;
}

.login{
    width: 521px;
    height: 73.5px;
    border: none; 
    border-bottom: 2px solid #1B4E9B;
    background-color: transparent;
    color: #1B4E9B;
    margin: 0;
    font-size: 28px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
}

.password{
    width: 521px;
    height: 73.5px;
    border: none; 
    border-bottom: 2px solid #1B4E9B;
    background-color: transparent;
    color: #1B4E9B;
    margin: 0;
    font-size: 28px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
}

.login::placeholder{
    color: #D9D9D9;
}
.password::placeholder{
    color: #D9D9D9;
}

.button-submit{
    color: #FFFFFF;
    background-color: #1B4E9B;
    width: 206px;
    height: 68px;
    border-color: transparent;
    border-radius: 2rem;
    font-size: 32px;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-weight: 600px;
    margin: 46px;
    }

.img-logo {
    height: 159.26px;
    width: 246.31px;
}

.ellipse1 {
    width: 124.38px;
    height: 120.86px;
    margin-left: 75px;
    margin-top: 317px;
}

.ellipse2 {
    width: 293.83px;
    height: 278.91px;
    margin-left: 50px;
    margin-top: 70px;
    /* margin-bottom: 70px; */
    z-index: 1;
}

.ellipse3 {
    width: 82.92px;
    height: 80.57px;
    margin-left: 170px;
    /* margin-bottom: 25px; */
    margin-top: 350px;
}

.ellipse4 {
    width: 82.11px;
    height: 79.79px;
    margin-left: 115px;
    /* margin-bottom: 260px; */
    margin-top: 100px;
}

.ellipse5 {
    width: 124.38px;
    height: 120.86px;
    /* margin-bottom: 25px; */
    margin-top: 300px; 
}

.ellipse6 {
    width: 124.38px;
    height: 120.86px;
    margin-left: 50px;
    /* margin-bottom: 105px; */
    margin-top: 240px; 
}

.ellipse7 {
   width: 385px;
   height: 374px; 
   margin-top: 65px;
}

.ellipse8 {
    width: 82.11px;
    height: 79.79px;
    margin-left: 35px;
    margin-top: 220px;
}

.ellipse9 {
    width: 239px;
    height: 236px;
    margin-left: 115px;
    margin-bottom: 60px;
}

.ellipse10 {
    width: 82.11px;
    height: 79.79px;
    margin-top: 357px;
    margin-left: 40px;
    margin-right: -1px;
}

.div-conteiner {
    display: grid;
}

.div-part1 {
    grid-area: 1 / 1;
    align-items: center;
    text-align: center;
}

.div-part2 {
    grid-area: 1 / 1;
    left:0;
    bottom:0;
    right:0;
    display: flex; 

}

.username {
    width: 137px;
    height: 22px;
    text-align: right;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 0;
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: bold; 
    /* grid-area: 'username'; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-exit {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 58px;
    margin-top: 18px;
    margin-bottom: 18px;
    border: none;
    /* grid-area: 'exit'; */
    color: #FFFFFF;
    background-color: transparent;
    background-image: url('/public/images/Logout.svg');
}

.button-menu {
    width: 38px;
    height: 38px;
    background-image: url('/public/images/Menu.svg');
    background-color: transparent;
    border: none;
    margin-bottom: 18px;
    margin-left: 17px;
    margin-top: 15px;
    /* margin-right: 1640px; */
    /* grid-area: 'menu'; */
}

.div-conteiner-header {
    display: grid;
    /* grid-template-columns: auto auto auto;
    grid-template-areas: 'menu username exit'; */
    height: 71px;
}

.menu-area {
   grid-area:  1/1; 
}

.user-exit {
    display: flex;
    justify-content: flex-end;
    right: 0;
    grid-area:  1 / 1;
}


