
@font-face {
    font-family: "Montserrat SemiBold";
    src: url('/public/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat Bold";
    src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype');
}